.port-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 75%;
    margin: 0rem auto;
    min-height: 40rem;
    height: 100vh;
    border-top: 1px solid rgb(104, 104, 104);
}

.port-heading {
    text-align: center;
}

.port-title {
    font-size: 3rem;
}

.port-subtitle {
    color: rgb(104, 104, 104);
    font-weight: 600;
}

.port-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 5rem;
    row-gap: 2rem;
}

.port-card {
    cursor: pointer;
    /* min-width: 500px; */
    /* min-height: 270px; */
    width: 35%;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    border: 1px solid rgb(188, 188, 188);
}

.port-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
}

.port-card:hover .port-image {
    transform: scale(1.1);
}

.cover {
    background-color: black;
    border-radius: 30px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 100%;
    left: 0;
    bottom: -100%;
    transition: all 0.5s ease-in-out;
    opacity: 0.7;
}

.port-card:hover .cover {
    z-index: 1;
    top: 0;
    bottom: 100%;
}

.cover span {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.pagination button {
    cursor: pointer;
    padding: 0.5rem;
}

@media screen and (max-width: 1600px) {

    .port-container {
        gap: 3rem;
    }
    
    .port-card {
        width: 35%;
    }
}

@media screen and (max-width: 1500px) {
    .port-container {
        width: 90%;
    }

    .port-content {
        column-gap: 5rem;
        row-gap: 1rem;
    }
}

@media screen and (max-width: 1100px) {
    .port-content {
        column-gap: 3rem;
    }

    .port-card {
        width: 45%;
    }
}

@media screen and (max-width: 800px) {

    .port-container {
        width: 95%;
    }

    .port-content {
        column-gap: 0rem;
        justify-content: space-evenly;
    }

    .port-card {
        width: 45%;
    }
}

@media screen and (max-width: 700px) {
    
    .port-container {
        width: 95%;
    }

    .port-content {
        flex-direction: column;
        align-items: center;
    }

    .port-card {
        width: 68%;
    }
}

@media screen and (max-width: 540px) {

    .port-title {
        font-size: 2rem;
    }
    .port-container {
        gap: 2rem;
    }

    .port-card {
        width: 80%;
    }
}

@media screen and (max-width: 450px) {

    .port-container {
        gap: 2rem;
    }

    .port-content {
        flex-direction: column;
        align-items: center;
    }

    .port-card {
        width: 95%;
    }
}