.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 75%;
    margin: 0rem auto;
    min-height: 37rem;
    height: 100vh;
    border-top: 1px solid rgb(104, 104, 104);
}

.contact-heading {
    text-align: center;
}

.contact-subtitle {
    color: rgb(104, 104, 104);
    font-weight: 600;
}

.contact-title {
    font-size: 3rem;
}

.contact-content {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.contact-info {     /*-------------------------------------*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 30%;
    padding: 2rem;
}

.contact-card {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
}

.contact-icon {
    font-size: 1.5rem;
}

.contact-type {
    font-size: 1rem;
    font-weight: 500;
}

.info {
    font-size: 0.8rem;
    color: rgb(139, 139, 139);
}

.contact-link {
    margin-top: 0.5rem;
    color: rgb(139, 139, 139);
    font-weight: 500;
}

.contact-form {    /*-------------------------------------*/
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 55%;
    padding: 2rem;
}

.contact-head {

}

.form {
    width: 100%;
    height: 100%;
    position: relative;
}

.form-div {
    width: 90%;
    height: 30%;
    position: relative;
    /* display: flex;
    justify-content: space-evenly;
    align-items: center; */
    margin: 1rem auto;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

.form-tag {
    position: absolute;
    top: -0.75rem;
    left: 1.25rem;
    font-size: 0.9rem;
    padding: 0.25rem;
    z-index: 2;
    background-color: white;
    color: rgb(139, 139, 139);
}

.form-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 85%;
    height: 30%;
    padding: 1.5rem;
    border: 2px solid rgba(0, 0, 0, 0.3);
    background: none;
    outline: none;
    border-radius: 0.75rem;
    z-index: 1;
}

@media screen and (max-width: 1600px) {
    .contact-content {
        width: 90%;
    }
}

@media screen and (max-width: 1127px) {
    
    .contact-container {
        width: 90%;
    }

}

@media screen and (max-width: 850px) {
    
    .contact-content {
        width: 100%;
    }
    .contact-form {
        width: 70%;
        padding:2rem 0;
    }
}

@media screen and (max-width: 650px) {

    .skills-container {
        width: 97%;
    }

    .contact-form {
        width: 80%;
    }
    .contact-info {    
        width: 20%;
        padding: 2rem 0.5rem;
    }
    
    .contact-card {
        width: 95%;
        padding: 0.5rem;
    }

}

@media screen and (max-width: 540px) {

    .contact-container {
        width: 97%;
    }

    .contact-title {
        font-size: 2rem;
    }

    .contact-content {
        flex-direction: column;
    }

    .contact-info h3 {
        display: none;
    }

    .contact-info {
        width: 100%;
        flex-direction: row;
        padding: 0;
        gap: 0.5rem;
    }

    .contact-card {
        padding: 0;
    }

    .contact-form {
        margin: 0rem;
        width: 100%;
        gap: 0.5rem;
        padding: 2rem 0;
        position: relative;
    }

    .form {
        padding: 0 0 2rem 0;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .form-div {
        width: 100%;
        height: 100%;
        margin: 2.5rem 0;
    }

    .form-input {
        width: 87%;
    }

    textarea.form-input {
        padding-bottom: 2rem;
    } 

}

@media screen and (max-width: 421px) {

    
}

@media screen and (max-width: 400px) {
    
    
}

@media screen and (max-width:380px) {


}