* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* .app {
  background-color: ;
} */

a {
  text-decoration: none;
}

.button {
  cursor: pointer;
  border: none;
  outline: none;
  display: inline-block;
  background-color: black;
  color: white;
  padding: 1.25rem 2rem;
  font-weight: 700;
  border-radius: 1rem;
  border: 1px solid black;
  transition: all 0.3s ease-in-out;
}

.span-icon {
  margin-left: 0.5rem;
}

.button:hover {
  background-color: rgb(45, 45, 45);
  color: white;
  border: 1px solid black;
  transform: scale(1.05);
}

.button-flex {
  display: inline-flex;
  align-items: center;
} 
